In [8]:
from utils.basics import get_sbj_scan_list, PROC_SNYCQ_DIR
import os.path as osp
import pandas as pd

In [9]:
subjects,scans,snycq = get_sbj_scan_list(when='post_motion')

++ [post_motion] Number of subjects: 133 subjects
++ [post_motion] Number of scans:    471 scans

In [17]:
demographics_data = pd.read_csv(osp.join(PROC_SNYCQ_DIR,'participants.tsv'), sep='\t', index_col=['participant_id'])

In [23]:
demographics_data_post_motion      = demographics_data.loc[subjects]
demographics_data_post_motion_path = osp.join(PROC_SNYCQ_DIR,'participants_post_motion_QA.csv')
demographics_data_post_motion.to_csv(demographics_data_post_motion_path)

In [24]:
demographics_data

               gender age (5-year bins)
participant_id
sub-010001          F             55-60
sub-010002          F             65-70
sub-010004          F             65-70
sub-010005          M             25-30
sub-010006          F             65-70
...               ...               ...
sub-010231          M             20-25
sub-010232          M             25-30
sub-010317          M             20-25
sub-010233          M             25-30
sub-010318          M             20-25

[318 rows x 2 columns]

In [25]:
demographics_data_post_motion

           gender age (5-year bins)
Subject
sub-010014      M             20-25
sub-010080      F             30-35
sub-010082      F             25-30
sub-010084      F             20-25
sub-010015      M             20-25
...           ...               ...
sub-010073      M             20-25
sub-010075      F             20-25
sub-010076      F             25-30
sub-010077      F             20-25
sub-010078      F             20-25

[133 rows x 2 columns]